/* header */

header{
   
    background-color: rgb(47, 79, 102);
    color: white;
    padding: 10px 0;
}


.navbar-brand , header .navbar-expand-md .navbar-nav .nav-link{
    color: white;
    font-weight: bold;
}


.navbar-toggler{
    border: 1px solid white;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 ;
}


/* main */

section{
    padding: 25px 0;
}

 main section:nth-child(odd){
    background-color: rgb(57, 206, 176);
    color: white;
}


main section:nth-child(odd) a{
    color: white;
    font-weight: bold;
}

.container_small{
    
    margin: 0 35px;
}


.img_container{
    max-width: 435px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-weight: bold;
}



/* separatore */

.separate{
    margin: 20px auto;
    display: flex;
    max-width: 40%;
    align-items: center;
}

.stripe{
    height: 50%;
    border-bottom: 3px solid;
    flex-grow: 1;
    margin: 0 10px;
}

.fa-star{
    font-size: 26px;
}



/* footer */

footer section{
    color: white;
}

footer section:nth-child(1){
    background-color:rgb(47, 79, 102)
}

footer section:nth-child(2){
    background-color:rgb(28, 48, 62);
}

footer span{
    padding: 40px 0;
    display: block;
}


/* debug */

[class*= 'col']{
    border: 2px solid red;
    min-height: 60px;
}

.container{
    border: 1px solid rgb(255, 0, 212);
   
}